
{% extends 'app/dummy.html' %}
   
   {% block title %}
    <title>Delete Confirmation</title>
    {% endblock %}

{% block body_block %}

     <center>
       <h1>Are you sure you want to delete {{SCO.scname}}?</h1>
       <h1>If yes then Proceed</h1>
       <form  method="POST">
        {% csrf_token %}

        <input type="submit" value="Delete" class="btn btn-danger">
       </form>

       <a href="{% url 'school_detail' %}">No,go back to School Details</a>

        <a href="{% url 'school_list' %}">No,go back to School List</a>
    </center>
{% endblock %}
